<a href="https://colab.research.google.com/github/sushily1997/Basic_Python_Assignments_1/blob/main/Percentage_Cutoff_Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Percentage Cutoff**

In [162]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
from datetime import datetime, time

In [163]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [164]:
data = pd.read_csv('/content/drive/MyDrive/Untitled spreadsheet - Sheet1 (4).csv')

In [165]:
data

   Customer_ID          Brand      Date  Brand_Count Percentage_Cutoff
0            1         adidas  01/01/21            3               75%
1            1           polo  1-1-2021            1               75%
2            2          levis  2-1-2021            2               66%
3            2  tomyhilfigure  2-1-2021            1               66%
4            2           nike  3-1-2021            4               55%
5            2           puma    3-1-21            4               55%

In [166]:
data.drop(["Percentage_Cutoff"],axis=1, inplace = True)
data

   Customer_ID          Brand      Date  Brand_Count
0            1         adidas  01/01/21            3
1            1           polo  1-1-2021            1
2            2          levis  2-1-2021            2
3            2  tomyhilfigure  2-1-2021            1
4            2           nike  3-1-2021            4
5            2           puma    3-1-21            4

**Date into datetime format**

In [167]:
data['Date'] = pd.to_datetime(data.Date)
data

   Customer_ID          Brand       Date  Brand_Count
0            1         adidas 2021-01-01            3
1            1           polo 2021-01-01            1
2            2          levis 2021-02-01            2
3            2  tomyhilfigure 2021-02-01            1
4            2           nike 2021-03-01            4
5            2           puma 2021-03-01            4

In [168]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  6 non-null      int64
 1   Brand        6 non-null      object
 2   Date         6 non-null      datetime64[ns]
 3   Brand_Count  6 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 320.0+ bytes

In [169]:
data.describe()

       Customer_ID  Brand_Count
count     6.000000     6.000000
mean      1.666667     2.500000
std       0.516398     1.378405
min       1.000000     1.000000
25%       1.250000     1.250000
50%       2.000000     2.500000
75%       2.000000     3.750000
max       2.000000     4.000000

In [170]:
grp1 = data.groupby(['Customer_ID', 'Brand','Date'])

x=grp1.aggregate(np.sum)
x

                                      Brand_Count
Customer_ID Brand         Date
1           adidas        2021-01-01            3
            polo          2021-01-01            1
2           levis         2021-02-01            2
            nike          2021-03-01            4
            puma          2021-03-01            4
            tomyhilfigure 2021-02-01            1

In [183]:
data1= x.groupby(['Customer_ID', 'Date',]).agg({"Brand_Count":(['min','max','sum'])}).reset_index()
print(data1)

  Customer_ID       Date Brand_Count
                                 min max sum
0           1 2021-01-01           1   3   4
1           2 2021-02-01           1   2   3
2           2 2021-03-01           4   4   8

In [185]:
data2= x.groupby(['Date']).agg(Brand_Count_max=('Brand_Count', 'max'),Brand_Count_sum=('Brand_Count', 'sum')).reset_index()
data2

        Date  Brand_Count_max  Brand_Count_sum
0 2021-01-01                3                4
1 2021-02-01                2                3
2 2021-03-01                4                8

In [188]:
data2['Percentage cutoff %']= data2['Brand_Count_max']/data2['Brand_Count_sum']*100
data2

        Date  Brand_Count_max  Brand_Count_sum  Percentage cutoff %
0 2021-01-01                3                4            75.000000
1 2021-02-01                2                3            66.666667
2 2021-03-01                4                8            50.000000